img {
    width: 100px;
    height: 100px;
    transition: width 0.5s, height 0.5s, transform 0.5s;
    margin-left: 0px;
}
img:hover {
    width: 300px;
    height: 300px;
}

h1 {
    font-family:cursive; color: red;
}
ol {
    color:royalblue
} 

